<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <p>Welcome to our Learning Center</p>
    <br />

    Username: <span sec:authentication="principal.username"></span>
    <br />

    Roles: <span sec:authentication="principal.authorities"></span>
    <br />


    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>