<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Instructor List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
</head>
<body>
<br/>
<br/>
<div class="container">
    <h3>Instructor List</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">YouTube Channel</th>
            <th scope="col">Hobby</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instructor, stat: ${instructors}">
            <th scope="row" th:text="${stat.index + 1}">
            <td th:text="${instructor.id}">
            <td th:text="${instructor.name}">
            <td th:text="${instructor.email}">
            <td th:text="${instructor.youtubeChannel}">
            <td th:text="${instructor.hobby}">

            <td sec:authorize="hasAnyRole('ADMIN')">
                <form th:action="@{/web/instructors/delete/{id}(id=${instructor.id})}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
                <a th:href="@{/web/instructors/delete(id=${instructor.id})}"
                   class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to delete this instructor?');">
                    DELETE
                </a>
<!--                <button type="button" class="btn btn-danger" th:onclick="'deleteInstructor(' + ${instructor.id} + ')'">DELETE</button>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<!--<script>-->
<!--    function deleteInstructor(id) {-->
<!--        fetch(`/web/instructors/delete/${id}`, {-->
<!--            method: 'DELETE'-->
<!--        }).then(response => {-->
<!--            if (!response.ok) {-->
<!--                throw new Error(`Status Code: ${response.status}`);-->
<!--            }-->
<!--            window.location.reload();-->
<!--        }).catch(error => {-->
<!--            console.error('Deleting instructor failed:', error);-->
<!--        });-->
<!--    }-->
<!--</script>-->
</html>